h1 {
    text-align: center;
}

h2{
    text-align: center;
}

#board{
    margin: auto;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.ttt-cell{
    width: 200px;
    height: 200px;
    text-align: center;
    align-content: center;
    background-color: gray;
}